/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) and (min-width: 320px) {
    .nav_logo_img {
        width: 70px;
    }

    .navbar .top-header {
        display: none;
    }

    .navbar .custom_btn {
        display: none;
    }

    .navbar i {
        display: none;
    }

    .navbar span {
        display: none;
    }

    .mobile-menu {
        display: none;
        /* Hide the mobile menu container by default */
    }

    /* Show the menu icon for mobile view */
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon i {
        display: block;
        color: black !important;
        font-size: 25px;
    }

    /* Mobile view */

    .mobile-menu {
        display: block;
        /* Show the mobile menu container */
    }

    .topnav {
        display: none;
        /* Hide the top navigation by default */
    }

    /* Show the top navigation when the checkbox is checked */
    .menu-toggle:checked~.topnav {
        display: block;
    }

    /* Adjust your menu icon appearance when the checkbox is checked */
    .menu-toggle:checked+.menu-icon {
        /* Add your styles for the active menu icon */
        background-color: white;
    }

    .for_mobileview {
        margin: -90px 200px;
    }


    /* Slider */
    .__title {
        margin-top: 30px;
        font-size: 30px;
        font-weight: 900;

    }

    .__title span {
        font-size: 30px;
        font-weight: 50;
    }

    .small-device {
        display: none;
    }

    .Slider_bottom img {
        width: 100%;
        height: 135px;
        margin: 10px 0px;
    }

    /* Farm_products */
    .Farm_products .col-md-3 {
        /* flex-basis: 50%; */
        max-width: 50%;
    }

    /* FEATURED-PRODUCTS */
    .FEATURED-PRODUCTS {
        margin: 40px 15px;
    }

    .container_featured {
        margin: 30px 0px;
    }

    .slider_1 .row {
        display: flex;
        /* Enable flex layout for the row */
        flex-wrap: nowrap;
        /* Prevent cards from wrapping to the next line */
        overflow-x: auto;
        /* Allow horizontal scrolling if necessary */
    }

    .card .featured_card {
        flex: 0 0 auto;
        /* Prevent cards from growing or shrinking */
        width: 22rem !important;
    }

    .slider_2 .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    .slider_3 .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .featured_card:last-child {
        margin-right: 0;
    }

    /* healthy_life */
    .healthy_life h2 {
        font-size: 65px;
        font-weight: 100;
    }

    /* Banner */
    .__title2 {
        font-size: 45px;
        font-weight: 900;

    }

    .__title2 span {
        font-size: 45px;
        font-weight: 50;
    }

    .__title2 p {
        font-size: 14px;
        font-weight: 50;
    }

    .banner-IMG {
        display: none;
    }

    /* ABOUT_AGRO */

    .inv_coma {
        display: none;
    }

    .review {
        margin: 0px 0px;
        font-size: 14px;
        font-weight: 400;
    }

    .ABOUT_AGRO .container {
        margin: 0px 0px;
        padding: 0px 0px;
    }

    .Bestseller_para {
        text-align: center;
    }

    .__title2 {
        font-size: 35px;
        font-weight: 900;

    }

    .__title2 span {
        font-size: 35px;
        font-weight: 50;
    }

    /* BLOG_POSTS */
    .container_new {
        margin: 0px 32px;
    }

    /* sponcer ---------- */
    .sponcers {
        margin: 0px 0px;
    }

    .img_container {
        text-align: center;
        padding: 20px 20px;
    }

    .img_container img {
        padding: 10px 20px;
    }

    /* footer */
    .footer h5 {
        font-size: 14px;
    }

    .footer a {
        font-size: 13px;
    }

    .footer p {
        font-size: 13px;
    }

    .footer span {
        font-size: 14px;
    }

    .footer input {
        font-size: 14px;
    }
}