body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navigation {
    background-image: url(about.imges/top-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.navigation .dropdown span,
a {
    color: rgb(146, 142, 135) !important;
    font-size: 12px;
    text-decoration: none;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
    ;
    border-bottom: 3px solid transparent;
}

.navigation .nav-link:hover {
    border-bottom: 3px rgb(252, 219, 90)
}

.navigation .nav-link:active {
    border-bottom: 3px rgb(252, 219, 90)
}

.custom_btn {
    border-radius: 25px;
    padding: 10px 50px;
    background-color: rgb(252, 219, 90);
    border: none;
}

.custom_btn:hover {
    background-color: #fff;
    border: 3px solid rgb(252, 219, 90);
}

.container {
    padding: 0px 50px;
}

.nav_content {
    padding: 0px 80px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}

.menubar {
    padding: 30px 60px;
}

.__title {
    font-size: 60px;
    font-weight: 900;

}

.__title span {
    font-size: 60px;
    font-weight: 50;
}

.About_comp {
    color: white;
    padding: 60px 10px;
}
.menu-toggle {
    display: none;
}
.menu-icon i{
    display: none;
}
/* agreeculture farm */
.AGRICULTURE_FARM {
    margin: 100px 50px
}

.__title2 {
    font-size: 40px;
    font-weight: 900;
    padding: 30px 0px;

}

.__title2 span {
    font-size: 40px;
    font-weight: 50;
    padding: 30px 0px;
}

.custom_btn2 {
    border-radius: 25px;
    padding: 10px 50px;
    background-color: #fff;
    border: 3px solid rgb(252, 219, 90);
    /* background-color: rgb(252, 219, 90); */

}

.custom_btn2:hover {
    background-color: rgb(252, 219, 90);
    border: none;
}

/* ICON IMAGES */
.icon_image {
    margin: 0px 100px
}

.icon_image .img_para {
    font-size: 50px;
    font-weight: 1000;
}

.img_span {
    font-size: 15px;
    font-weight: 600;
}

.logo_amount {
    padding: 0px 40px;
}

/* timeline */
.number_container {
    background-image: url(about.imges/baground_Imgxxx.png);
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    align-items: center;
}

.number_container {
    padding: 70px 70px;
}

.section-heading2 {
    padding: 0px 70px;
}

.TIMELINE_container {
    margin: 70px 10px;
    background-color: rgb(252, 219, 90);
    padding: 50px 0px;
}

/* dream team */
.dream_team_container {
    padding: 60px 100px;
}

.card-group-item {
    margin: -50px 30px;
    border: none;
}

.profile_item {
    margin-bottom: 100px;
}

/* sponcer */
.sponcers {
    margin: 75px 10px;
}

.img_container {
    text-align: center;
    padding: 20px 20px;
}

.img_container img {
    padding: 50px 30px;
}

.card-group-item {
    border: none;
}

/* Get_in_touch */
.Get_in_touch {
    padding: 70px 250px;
    background-color: rgb(51, 51, 51);
}

.custom_btn3 {
    border-radius: 25px;
    padding: 15px 400px;
    margin: 50px 10px;
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(252, 219, 90);
}

.custom_btn3:hover {
    background-color: rgb(252, 219, 90);
    border: none;
}

.white-placeholder::placeholder {
    color: white;
    border-bottom: 1px solid white;
}

.white-placeholder_textarea {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.theme_color {
    background-color: rgb(51, 51, 51);
}

/* footer */
.custom_btn_sub {
    border-radius: 25px;
    padding: 15px 40px;
    border: 3px solid rgb(252, 219, 90)
}

.custom_btn_sub:hover {
    background-color: rgb(252, 219, 90);
    border: none;
}

.footer i {
    font-size: 16px;
    padding: 0px 3px;
}

.footer i:hover {
    color: orange !important;
}

.footer {
    margin: 26px 10px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    ;
}